@font-face {
  font-family: "HelveticaNeueCyr-Bold";
  src: local("HelveticaNeueCyr-Bold"), url("fonts/HelveticaNeueCyr-Bold.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "HelveticaNeueCyr-Light";
  src: local("HelveticaNeueCyr-Light"), url("fonts/HelveticaNeueCyr-Light.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "HelveticaNeueCyr-Medium";
  src: local("HelveticaNeueCyr-Medium"), url("fonts/HelveticaNeueCyr-Medium.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "HelveticaNeueCyr-Italic";
  src: local("HelveticaNeueCyr-Italic"), url("fonts/HelveticaNeueCyr-Italic.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "HelveticaNeueCyr-LightItalic";
  src: local("HelveticaNeueCyr-LightItalic"), url("fonts/HelveticaNeueCyr-LightItalic.otf");
  font-weight: normal;
  font-style: normal; }
body {
  margin: 0;
  padding: 0; }

button:focus {
  outline: none; }

textarea:focus {
  outline: none; }

input:focus {
  outline: none; }

input {
  outline: none; }

.header {
  width: 100%;
  height: 100%; }
  .header .container_header {
    height: 95px;
    max-width: 970px;
    margin: 10px auto 0; }
  .header .logo {
    width: 80px;
    height: 80px;
    background-image: url("img/logo.png");
    float: left; }
  .header .logo_title {
    padding-top: 1%;
    padding-left: 3%;
    float: left;
    color: #333333;
    line-height: 1.2;
    font-size: 1.5em;
    font-family: "HelveticaNeueCyr-Light"; }
  .header .call_order {
    float: right;
    font-family: "HelveticaNeueCyr-Light"; }
  .header p {
    vertical-align: 50%; }
  .header span {
    padding-right: 14px; }
  .header a {
    vertical-align: 5px;
    font-size: 1.8em;
    line-height: 1.7;
    color: #333333;
    text-decoration: none; }
  .header:hover {
    text-decoration: none; }
  .header button {
    background-color: #009900;
    width: 250px;
    height: 35px;
    border: none;
    outline: 0; }
    .header button:hover {
      transform: scale(1.09);
      -webkit-transform: scale(1.09);
      -ms-transform: scale(1.09); }
    .header button a {
      color: white;
      line-height: 1.2;
      font-family: "HelveticaNeueCyr-Light";
      font-size: 1.375em; }

.order {
  width: 100%;
  height: 500px;
  background-image: url("img/back_to_buy.png");
  background-size: cover;
  z-index: -1; }
  .order .container_order {
    max-width: 970px;
    margin: 0 auto; }
  .order .pricing_ellipse_action {
    margin-left: 175px;
    margin-top: 12px;
    width: 125px;
    height: 125px;
    position: absolute;
    background-image: url("img/pricing_elipse.png");
    background-repeat: no-repeat;
    z-index: 2;
    font-size: 1.2em; }
    .order .pricing_ellipse_action:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.09);
      -ms-transform: scale(1.09); }
    .order .pricing_ellipse_action p {
      font-family: "HelveticaNeueCyr-Light";
      margin-left: 22px;
      margin-top: 30px; }
    .order .pricing_ellipse_action h1 {
      font-family: "HelveticaNeueCyr-Bold";
      margin-left: 22px;
      color: red; }
  .order .turnik {
    background-image: url("img/turnik.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 362px;
    height: 401px;
    z-index: 1;
    margin-top: 20px; }
  .order p#rotate_arrow_text {
    margin-top: 410px;
    float: right;
    text-align: left;
    margin-right: 150px;
    font-family: "HelveticaNeueCyr-Light";
    line-height: 1.2;
    font-size: 1.1em; }
  .order img {
    float: left;
    margin-top: 415px; }
  .order .kach {
    background-image: url("img/kach.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 265px;
    height: 400px;
    margin-top: 100px;
    margin-left: 272px; }
  .order .form_order {
    margin-top: 20px;
    float: right; }
  .order .form_head_key {
    font-family: "HelveticaNeueCyr-Light";
    text-align: center;
    color: white;
    width: 350px;
    height: 60px;
    padding: 5px;
    background-image: url("img/form_head_key.png"); }
  .order h1 {
    font-family: "HelveticaNeueCyr-Bold";
    font-size: 1.5em; }
  .order p {
    font-size: 1.1em; }
  .order .form_order_data {
    border: 10px solid white;
    background-color: white; }
    .order .form_order_data .form_action {
      line-height: 1.3;
      width: 330px; }
      .order .form_order_data .form_action input[type="text"], .order .form_order_data .form_action input[type="phone_number"] {
        font-family: "HelveticaNeueCyr-Italic";
        width: 95%;
        padding: 12px 10px;
        margin: 5px 0;
        display: inline;
        font-size: 14pt;
        border: 0px;
        background-color: whitesmoke; }
    .order .form_order_data p {
      display: inline-block;
      line-height: 1.8;
      margin: 0;
      font-size: 11pt;
      font-family: "HelveticaNeueCyr-Light"; }
      .order .form_order_data p input[type="checkbox"]:before {
        border-style: solid;
        border: 1px; }
    .order .form_order_data input[type="submit"] {
      background: url("img/order_button_layout_2.png") no-repeat;
      border: none;
      width: 100%;
      height: 60px;
      text-transform: uppercase;
      color: white;
      font-family: "HelveticaNeueCyr-Light";
      font-size: 1.5em;
      line-height: 1.2; }
      .order .form_order_data input[type="submit"]:hover {
        transform: scale(1.09);
        -ms-transform: scale(1.09);
        -webkit-transform: scale(1.09); }
    .order .form_order_data span {
      color: red; }
  .order .stock {
    float: left;
    font-size: 0.9em;
    font-family: "HelveticaNeueCyr-Light";
    padding-top: 25px;
    text-align: center;
    margin-top: 5px;
    background: url("img/stock_square.png") no-repeat;
    width: 100px;
    height: 110px; }
  .order span {
    color: red; }
  .order .stock_time {
    text-align: center;
    font-family: "HelveticaNeueCyr-Light";
    float: left;
    margin-top: 15px;
    background-color: white;
    width: 71%;
    height: 100px; }
    .order .stock_time p#timer_end_text {
      padding-top: 7px; }
    .order .stock_time p#timer {
      color: red;
      padding-top: 3px;
      font-size: 2.5em; }
    .order .stock_time p#timer_date {
      word-spacing: 30px;
      font-size: 0.8em;
      padding-top: 3px; }

.advantages {
  width: 100%;
  height: 400px;
  background-image: url("img/bg_advantages.png");
  background-size: cover; }
  .advantages .container_advantages {
    max-width: 970px;
    margin: 0 auto;
    color: white;
    text-align: center;
    vertical-align: center; }
  .advantages .first_row {
    font-family: "HelveticaNeueCyr-Light";
    padding-top: 30px; }
    .advantages .first_row h2 {
      font-family: "HelveticaNeueCyr-Medium"; }
    .advantages .first_row img {
      padding-bottom: 10px; }
    .advantages .first_row p {
      font-size: 1.3em; }
  .advantages .happy_m {
    min-height: 150px;
    width: 33%;
    float: left; }
  .advantages .weight {
    min-height: 150px;
    width: 33%;
    float: left; }
  .advantages .guarantee {
    min-height: 150px;
    width: 33%;
    float: right; }
  .advantages .second_row {
    font-family: "HelveticaNeueCyr-Light"; }
    .advantages .second_row h2 {
      font-family: "HelveticaNeueCyr-Medium"; }
    .advantages .second_row img {
      padding-bottom: 10px; }
    .advantages .second_row p {
      font-size: 1.3em; }
  .advantages .return {
    padding-top: 30px;
    min-height: 150px;
    width: 33%;
    float: left; }
  .advantages .delivery {
    padding-top: 30px;
    min-height: 150px;
    width: 33%;
    float: left; }
  .advantages .installation {
    padding-top: 30px;
    min-height: 150px;
    width: 33%;
    float: right; }

.characteristic {
  width: 100%;
  height: 580px;
  background-image: url("img/bg_characteristic.png");
  background-size: cover; }
  .characteristic .container_characteristic {
    max-width: 970px;
    margin: 0 auto; }
  .characteristic .head_characteristic {
    max-height: 11%;
    padding: 40px 0;
    color: #333333;
    font-family: "HelveticaNeueCyr-Light";
    font-size: 2.2em;
    text-transform: uppercase;
    text-align: center; }
  .characteristic .price_img_turnik {
    width: 410px; }
  .characteristic .price_head {
    font-family: "HelveticaNeueCyr-Medium";
    color: white;
    width: 410px;
    height: 60px; }
    .characteristic .price_head h2 {
      font-size: 1.7em; }
  .characteristic .left_head_price {
    font-size: 1.25em;
    display: inline;
    background-image: url("img/bg_price_turnik_1.png");
    width: 400px;
    height: 60px;
    float: left;
    padding-top: 10px;
    padding-left: 8%;
    z-index: -1; }
    .characteristic .left_head_price h2 {
      display: inline; }
  .characteristic .right_head_price {
    margin-left: 303px;
    position: absolute;
    height: 60px;
    padding: 15px;
    background-image: url("img/bg_price_turnik_2.png");
    float: right;
    z-index: 15; }
    .characteristic .right_head_price:hover {
      transform: scale(1.09);
      -webkit-transform: scale(1.09);
      -ms-transform: scale(1.09); }
  .characteristic .turnik_image_small {
    margin-top: 5px; }
  .characteristic img {
    padding-right: 11px; }
  .characteristic .text_characteristic {
    float: right;
    font-family: "HelveticaNeueCyr-Light";
    color: #333333;
    line-height: 1.3; }
    .characteristic .text_characteristic h3 {
      font-size: 1.3em;
      padding-bottom: 20px; }
    .characteristic .text_characteristic h3#install_text {
      padding: 20px 0; }

.order_a_instal {
  margin-top: -10px;
  width: 100%;
  height: 110px;
  background-image: url("img/bg_order_aft_char.png");
  background-size: 100% 100%; }
  .order_a_instal .container_order_a_instal {
    max-width: 970px;
    margin: 0 auto; }
  .order_a_instal .form_action {
    padding-top: 3%; }
  .order_a_instal input[type="text"], .order_a_instal input[type="phone_number"] {
    font-family: "HelveticaNeueCyr-Italic";
    padding: 12px 10px;
    margin-left: 1%;
    display: inline;
    font-size: 1.1em; }
  .order_a_instal input[type="submit"] {
    display: inline;
    background: url("img/order_button_layout_2.png") no-repeat;
    border: none;
    color: white;
    text-transform: uppercase;
    font-family: "HelveticaNeueCyr-Light";
    font-size: 1.5em;
    line-height: 1.2;
    height: 60px;
    width: 21%;
    margin-left: 1%; }
    .order_a_instal input[type="submit"]:hover {
      transform: scale(1.09);
      -webkit-transform: scale(1.09);
      -ms-transform: scale(1.09); }

.description {
  width: 100%;
  height: 440px;
  background-image: url("img/bg_description.png");
  background-size: cover; }
  .description .container_description {
    max-width: 970px;
    margin: 0 auto; }
  .description h2 {
    font-family: "HelveticaNeueCyr-Light";
    color: white;
    font-size: 2.2em;
    text-transform: uppercase;
    text-align: center;
    padding: 5% 0; }
  .description p {
    font-size: 1em;
    line-height: 1.4;
    font-family: "HelveticaNeueCyr-Light";
    color: white;
    margin-bottom: 18px; }

.related_products {
  width: 100%;
  height: 660px;
  background-image: url("img/bg_related_products.png");
  background-size: cover; }
  .related_products .container_related_products {
    max-width: 970px;
    margin: 0 auto; }
  .related_products .title_related_products {
    font-family: "HelveticaNeueCyr-Light";
    color: #333333;
    font-size: 2.2em;
    text-transform: uppercase;
    text-align: center;
    padding: 5% 0; }
  .related_products .hook_container {
    width: 100%;
    display: inline-block; }
  .related_products .hook_image {
    background-image: url("img/hooks.png");
    width: 300px;
    height: 225px;
    float: left;
    color: white;
    font-family: "HelveticaNeueCyr-Light";
    font-size: 1.2em;
    text-align: center; }
    .related_products .hook_image .hook_image_title {
      padding: 0.4em;
      width: 100%;
      height: 40px;
      background-color: #333333; }
  .related_products .hook_text {
    float: right;
    width: 67%;
    font-size: 1.15em;
    line-height: 1.2;
    color: #333333;
    font-family: "HelveticaNeueCyr-Light"; }
  .related_products .loop_container {
    width: 100%;
    display: inline-block;
    margin-top: 20px; }
  .related_products .loop_image {
    float: left;
    background-image: url("img/loom_crossbar.png");
    width: 300px;
    height: 225px;
    color: white;
    font-family: "HelveticaNeueCyr-Light";
    font-size: 1.1em;
    text-align: center; }
    .related_products .loop_image .loop_image_title {
      padding: 0.5em;
      width: 100%;
      height: 40px;
      background-color: #333333; }
  .related_products .loop_text {
    float: right;
    width: 67%;
    font-size: 1.15em;
    line-height: 1.2;
    color: #333333;
    font-family: "HelveticaNeueCyr-Light"; }

.video {
  width: 100%;
  height: 900px;
  background-image: url("img/bg_video.png");
  background-size: cover; }
  .video .container_video {
    max-width: 970px;
    margin: 0 auto; }
  .video .video_title {
    font-family: "HelveticaNeueCyr-Light";
    color: white;
    font-size: 2.2em;
    text-transform: uppercase;
    text-align: center;
    padding: 5% 0; }
  .video .motivation {
    float: left; }
  .video .video_feedback {
    float: right;
    display: inline-block;
    color: white;
    font-family: "HelveticaNeueCyr-Light"; }
  .video p {
    padding-bottom: 2em; }
  .video .video_review {
    float: right;
    display: inline-block;
    color: white;
    font-family: "HelveticaNeueCyr-Light"; }

.reviews {
  width: 100%;
  height: 700px;
  background-image: url("img/bg_characteristic.png");
  background-size: cover; }
  .reviews .conteiner_reviews {
    max-width: 970px;
    margin: 0 auto;
    color: #333333; }
  .reviews .reviews_title {
    font-family: "HelveticaNeueCyr-Light";
    color: #333333;
    font-size: 2.2em;
    text-transform: uppercase;
    text-align: center;
    padding: 5% 0; }
  .reviews .reviews_1 {
    display: inline-block;
    line-height: 1.3;
    font-family: "HelveticaNeueCyr-LightItalic"; }
    .reviews .reviews_1 img {
      float: left;
      padding-right: 2%; }
    .reviews .reviews_1 span {
      line-height: 2;
      float: right;
      color: #1d4872; }
  .reviews .reviews_2 {
    display: inline-block;
    line-height: 1.3;
    font-family: "HelveticaNeueCyr-LightItalic";
    padding-top: 30px; }
    .reviews .reviews_2 img {
      float: right;
      padding-left: 2%; }
    .reviews .reviews_2 span {
      line-height: 2;
      float: right;
      color: #1d4872; }
  .reviews .reviews_3 {
    display: inline-block;
    line-height: 1.3;
    font-family: "HelveticaNeueCyr-LightItalic";
    padding-top: 30px; }
    .reviews .reviews_3 img {
      float: left;
      padding-right: 2%; }
    .reviews .reviews_3 span {
      line-height: 2;
      float: right;
      color: #1d4872; }

.result {
  width: 100%;
  height: 860px;
  background-image: url("img/bg_description.png");
  background-size: cover;
  font-family: "HelveticaNeueCyr-Light";
  display: block; }
  .result .container_result {
    max-width: 970px;
    margin: 0 auto; }
  .result .result_title {
    color: white;
    font-size: 2.2em;
    text-transform: uppercase;
    text-align: center;
    padding: 5% 0; }
  .result .gallery_container {
    width: 768px;
    margin: auto; }
  .result .result_1 {
    display: inline-block;
    background-image: url("img/result_1.png");
    width: 360px;
    height: 200px;
    text-align: center; }
  .result .result_1_text_before {
    margin-top: 200px;
    display: inline-block;
    width: 50%;
    background-color: #333333;
    font-size: 1.5em;
    color: #fae400;
    padding-top: 10px;
    padding-bottom: 10px; }
  .result .result_1_text_after {
    margin-top: 200px;
    display: inline-block;
    float: right;
    width: 50%;
    background-color: #fae400;
    font-size: 1.5em;
    color: #333333;
    padding-top: 10px;
    padding-bottom: 10px; }
  .result .result_2 {
    display: inline-block;
    background-image: url("img/result_2.png");
    width: 360px;
    height: 200px;
    float: right;
    text-align: center; }
  .result .result_2_text_before {
    margin-top: 200px;
    display: inline-block;
    width: 50%;
    background-color: #333333;
    font-size: 1.5em;
    color: #fae400;
    padding-top: 10px;
    padding-bottom: 10px; }
  .result .result_2_text_after {
    margin-top: 200px;
    display: inline-block;
    float: right;
    width: 50%;
    background-color: #fae400;
    font-size: 1.5em;
    color: #333333;
    padding-top: 10px;
    padding-bottom: 10px; }
  .result .result_3 {
    margin-top: 50px;
    display: inline-block;
    background-image: url("img/result_3.png");
    width: 360px;
    height: 325px;
    float: left;
    text-align: center; }
  .result .result_3_text_before {
    margin-top: 325px;
    display: inline-block;
    width: 50%;
    background-color: #333333;
    font-size: 1.5em;
    color: #fae400;
    padding-top: 10px;
    padding-bottom: 10px; }
  .result .result_3_text_after {
    margin-top: 325px;
    display: inline-block;
    float: right;
    width: 50%;
    background-color: #fae400;
    font-size: 1.5em;
    color: #333333;
    padding-top: 10px;
    padding-bottom: 10px; }
  .result .result_4 {
    margin-top: 50px;
    display: inline-block;
    background-image: url("img/result_4.png");
    width: 360px;
    height: 325px;
    float: right;
    text-align: center; }
  .result .result_4_text_before {
    margin-top: 325px;
    display: inline-block;
    width: 50%;
    background-color: #333333;
    font-size: 1.5em;
    color: #fae400;
    padding-top: 10px;
    padding-bottom: 10px; }
  .result .result_4_text_after {
    margin-top: 325px;
    display: inline-block;
    float: right;
    width: 50%;
    background-color: #fae400;
    font-size: 1.5em;
    color: #333333;
    padding-top: 10px;
    padding-bottom: 10px; }

.order_bottom {
  width: 100%;
  height: 500px;
  background-image: url("img/back_to_buy.png");
  background-size: cover;
  z-index: -1; }
  .order_bottom .container_order {
    max-width: 970px;
    margin: 0 auto; }
  .order_bottom .pricing_ellipse_action {
    margin-left: 175px;
    margin-top: 12px;
    width: 125px;
    height: 125px;
    position: absolute;
    background-image: url("img/pricing_elipse.png");
    background-repeat: no-repeat;
    z-index: 2;
    font-size: 1.2em; }
    .order_bottom .pricing_ellipse_action:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.09);
      -ms-transform: scale(1.09); }
    .order_bottom .pricing_ellipse_action p {
      font-family: "HelveticaNeueCyr-Light";
      margin-left: 22px;
      margin-top: 30px; }
    .order_bottom .pricing_ellipse_action h1 {
      font-family: "HelveticaNeueCyr-Bold";
      margin-left: 22px;
      color: red; }
  .order_bottom .turnik {
    background-image: url("img/turnik.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 362px;
    height: 401px;
    z-index: 1;
    margin-top: 20px; }
  .order_bottom p#rotate_arrow_text {
    margin-top: 410px;
    float: right;
    text-align: left;
    margin-right: 150px;
    font-family: "HelveticaNeueCyr-Light";
    line-height: 1.2;
    font-size: 1.1em; }
  .order_bottom img {
    float: left;
    margin-top: 415px; }
  .order_bottom .kach {
    background-image: url("img/kach.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 265px;
    height: 400px;
    margin-top: 100px;
    margin-left: 272px; }
  .order_bottom .form_order {
    margin-top: 20px;
    float: right; }
  .order_bottom .form_head_key {
    font-family: "HelveticaNeueCyr-Light";
    text-align: center;
    color: white;
    width: 350px;
    height: 60px;
    padding: 5px;
    background-image: url("img/form_head_key.png"); }
  .order_bottom h1 {
    font-family: "HelveticaNeueCyr-Bold";
    font-size: 1.5em; }
  .order_bottom p {
    font-size: 1.1em; }
  .order_bottom .form_order_data {
    border: 10px solid white;
    background-color: white; }
    .order_bottom .form_order_data .form_action {
      line-height: 1.3;
      width: 330px; }
      .order_bottom .form_order_data .form_action input[type="text"], .order_bottom .form_order_data .form_action input[type="phone_number"] {
        font-family: "HelveticaNeueCyr-Italic";
        width: 95%;
        padding: 12px 10px;
        margin: 5px 0;
        display: inline;
        font-size: 14pt;
        border: 0px;
        background-color: whitesmoke; }
    .order_bottom .form_order_data p {
      display: inline-block;
      line-height: 1.8;
      margin: 0;
      font-size: 11pt;
      font-family: "HelveticaNeueCyr-Light"; }
      .order_bottom .form_order_data p input[type="checkbox"]:before {
        border-style: solid;
        border: 1px; }
    .order_bottom .form_order_data input[type="submit"] {
      background: url("img/order_button_layout_2.png") no-repeat;
      border: none;
      width: 100%;
      height: 60px;
      text-transform: uppercase;
      color: white;
      font-family: "HelveticaNeueCyr-Light";
      font-size: 1.5em;
      line-height: 1.2; }
      .order_bottom .form_order_data input[type="submit"]:hover {
        transform: scale(1.09);
        -ms-transform: scale(1.09);
        -webkit-transform: scale(1.09); }
    .order_bottom .form_order_data span {
      color: red; }
  .order_bottom .stock {
    float: left;
    font-size: 0.9em;
    font-family: "HelveticaNeueCyr-Light";
    padding-top: 25px;
    text-align: center;
    margin-top: 5px;
    background: url("img/stock_square.png") no-repeat;
    width: 100px;
    height: 110px; }
  .order_bottom span {
    color: red; }
  .order_bottom .stock_time {
    text-align: center;
    font-family: "HelveticaNeueCyr-Light";
    float: left;
    margin-top: 15px;
    background-color: white;
    width: 71%;
    height: 100px; }
    .order_bottom .stock_time p#timer_end_text {
      padding-top: 7px; }
    .order_bottom .stock_time p#timer2 {
      color: red;
      padding-top: 3px;
      font-size: 2.5em; }
    .order_bottom .stock_time p#timer_date {
      word-spacing: 30px;
      font-size: 0.8em;
      padding-top: 3px; }

.bottom {
  width: 100%;
  height: 100%;
  font-family: "HelveticaNeueCyr-Light"; }
  .bottom .container_bottom {
    height: 95px;
    max-width: 970px;
    margin: 10px auto 0; }
  .bottom .logo_title {
    padding-top: 1%;
    float: left;
    color: #333333;
    line-height: 1.2;
    font-size: 1.5em; }
    .bottom .logo_title span {
      text-transform: uppercase; }
  .bottom .call_order {
    float: right; }
  .bottom p {
    vertical-align: 50%; }
  .bottom span {
    padding-right: 14px; }
  .bottom a {
    vertical-align: 5px;
    font-size: 1.8em;
    line-height: 1.7;
    color: #333333;
    text-decoration: none; }
  .bottom:hover {
    text-decoration: none; }
  .bottom button {
    background-color: #009900;
    width: 250px;
    height: 35px;
    border: none;
    outline: 0; }
    .bottom button:hover {
      transform: scale(1.09);
      -webkit-transform: scale(1.09);
      -ms-transform: scale(1.09); }
    .bottom button a {
      color: white;
      line-height: 1.2;
      font-family: "HelveticaNeueCyr-Light";
      font-size: 1.375em; }

/*# sourceMappingURL=main.css.map */
